* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://media.istockphoto.com/photos/grass-green-forest-on-spring-sunset-light-background-picture-id946953624?k=20&m=946953624&s=612x612&w=0&h=UfLuo451IZxlKniOejv6jPC6t6W_njNSkJRcRJ1gE9A=) no-repeat fixed center center/cover;
    text-align: center;
}

h1 {
    margin: 0 0 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    width: 15%;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: no-repeat fixed center center/cover;
    filter: grayscale(100%);
}

.card img:hover{
    filter: none;
    animation: shake 0.6s; 
}

.card h1 {
    padding: 0 20px;
    margin: 0 0 20px;
}

.card .infoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 78);
    color: white;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }