* {
    Margin: 0;
    Padding: 0;
    Box-sizing: boarder-box;
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 20px;
}

body {
    font-family: Source Code Pro, serif;
    background: url('https://www.opendei.eu/wp-content/uploads/2019/11/healthcare-sector-opendei-project.jpg') no-repeat fixed center center/cover;
    color: white;
}

.main {
    margin: auto;
    width: 50vw;
    background-color: rgb(88, 93, 104);
    padding: 2rem;
}

h1 {
    color: black;
    text-align: center;
}

h1,
h2 {
    margin: 1rem 0 1rem;
}

label {
    display: inline-block;
    width: 60px;
}

.checkbox label {
    width: 40vw;
}

button {
    height: 10vh;
    width: 30vw;
    margin: 20px 0 0;
    text-align: center;
}

#answer {
    color: white;
    margin: 10px 0 0;
}