* {
    Margin: 0;
    Padding: 0;
    Box-sizing: boarder-box;
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 20px;
}

body {
    font-family: Source Code Pro, serif;
}

h1 {
    margin: 0 0 1rem;
}

h2 {
    margin: 1rem 0 0;
}

h4 {
    margin: 1rem 0 1rem;
}

.psHeading {
    margin-bottom: 10px;
}

.pizzaSize label {
    margin-left: 10px;
}

.pizzaToppings {
    margin-top: 40px;
}

.pizzaDelivery {
    margin-top: 40px;
}

.selectDiv {
    margin-top: 15px;
    text-align: center;
}

.container {
    display: flex;
}

.hero-image {
    width: 50vw;
    background: url(/week_3/pizzaOrder_task/images/pizza.gif) no-repeat fixed center center/cover;
}

.content {
    width: 50vw;
    padding: 2rem;
}

input,
select,
button {
    font-family: inherit;
    margin: 0.5rem, 0;
    font-size: 1rem;
    padding: 0.5rem;
}