@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@300;700&family=Stint+Ultra+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bungee Spice", sans-serif;
    background-color: lightgreen;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

h1,
h2,
section {
    margin: 20px 0 0;
}

.title_score {
    background-color: aqua;
    min-height: 75vh;
}

section .circles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: rgb(10, 8, 7);
    color: white;
    text-align: center;
    margin: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle.active {
    background-color: darkgray;

}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    color: white;
}

#game_area {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 100%;
    border-radius: 400px 400px 0 0;
    background-color: lightgreen;
}

#game_area section {
    padding-top: 4rem;
}

button #stop {
    display: none;
}

/*Modal*/

.overlay {
    display: none;
}

.overlay.visible {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(60, 57, 57, 0.75);
    justify-content: center;
    align-items: center;
}

.overlay.visible .modal {
    position: relative;
    background-color: aqua;
    min-height: 40vh;
    width: 60vw;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 0 5px rgb(111, 111, 111);
}

.overlay.visible .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btnClose {
    background-color: red;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;

}

cow {
    background-image: url("https: //www.google.com/url?sa=i&url=https%3A%2F%2Ficonarchive.com%2Fshow%2Fnoto-emoji-animals-nature-icons-by-google%2F22234-cow-icon.html&psig=AOvVaw3KQtMlqWGmC3S_QR4DDctv&ust=1664184106517000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCMjYuoXPr_oCFQAAAAAdAAAAABAK");
}