* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    margin: 2% 0 0;
    background-color: cornflowerblue;
}

#search {
    display: flex;
    height: 40vh;
    width: 100vw;
    margin: 2% 0 2%;
    background-color: white;
}

#search form {
    margin: 2% 100px 10px;
}

#search form h2 {
    margin: 0 0 30px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: white;

}

aside {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: inherit;
    margin: 5% 100px 0;
}

h1 {
    margin: 0 0 30px;
}

.container section {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 5% 10px 10px;
}


table {
    width: 45%;
}

tr {
    height: 40px;
    width: 80px;
    text-align: center;
}

th {
    background-color: cornflowerblue;
}

label {
    display: inline-block;
    width: 200px;
    margin: 0 0 30px;
}

input {
    height: 35px;
    width: 200px;
    margin: 0 0 30px;
}

button {
    height: 50px;
    width: 130px;
    margin: 20px 0 0;
    border-radius: 8px;
    background-color: rgb(5, 148, 155);
}

#carTableBody tr:nth-child(odd) {
    background-color: gray;
    color: whitesmoke;
}