*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    margin: 70px 0 0;
    background-color: white;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 35%;
    margin: 200px 100px 0;

}
h1{
    margin: 0 0 30px;
}

section{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 200px 100px 0;
}


table{
    width: 30%;   
}

tr{
    height: 40px;
    width: 80px;
}

label {
    display: inline-block;
    width: 200px;
    margin: 0 0 30px;
}
input{
    height: 35px;
    width: 200px;
    margin: 0 0 30px;
}

button {
    height: 50px;
    width: 130px;
    margin: 20px 0 0;
    border-radius: 8px;
    background-color:rgb(5, 148, 155);
}

